.container {
  width: 100%;
  display: flex;
  font-size: large;
  /* gap: 50px; */
  justify-content: center;
  border-bottom: 3px solid var(--main-grey) ;
}
.item {
  padding: 10px 80px;
  /* border-left: 2px solid black; */
  text-align: center;
  border-right: 2px solid var(--main-grey);
  cursor: pointer;
  transition: all 0.5s ease;
}
.item:last-child{
    border: none;
}
.item:hover{
background-color: black;
color: white;
}

.item:focus{
    text-decoration: underline;

}