.itemContainer {
  display: flex;
  padding: 10px 10px;
  width: 300px;
  align-items: flex-end;
  cursor: pointer;
  gap: 20px;
  background-color: var(--color-sidebar);
  transition: all 0.4s ease;
}
.itemContainer:hover {
  transform: scale(1.02);
  background-color: var(--color-background);
}
.itemContainer p {
  font-size: small;
  margin-top: 5px;
}
.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--color-sidebar);
  width: 300px;
  height: 100%;
  padding-top: 5% ;
}
