.container{
    width: 200px;
    height: 100%;
    text-align: center;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid var(--main-grey);
}

.item p {
    font-size: large;
    padding: 20px 0;
}

.stat{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
}
.statsTop{
    display: flex;
    justify-content: space-between;

}
