* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(23, 23, 23);
  color: white;
  scrollbar-width: none;
}
:root {
  --navbar-height: 50px;
  --main-orange: #e86840;
  --main-blue: #090e43;
  --main-grey: #9c9fa0;
}
